@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-grey: #E9EDF2;
  --background-main: #C56E33
}

body {
  background-color: var(--background-grey);
  overflow-x: hidden;
}

.nav-mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;

  padding: 1rem;

  width: 80%;
  height: 100vh;

  display: flex;
  gap: 20px;
  /* justify-content: flex-end; */
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--background-grey);
}
.nav-close {
  position: relative;
  left: 250px;
  width: 7%;
  height: 7%;
}

.btn {
  background-color: var(--background-main);
  width: 250px;
  cursor: pointer;
}
