@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-grey: #E9EDF2;
  --background-main: #111827
}

body {
  background-color: var(--background-grey);
  overflow-x: hidden;
}

.nav-mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;

  padding: 1rem;

  width: 80%;
  height: 100vh;

  display: flex;
  gap: 20px;
  /* justify-content: flex-end; */
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--background-grey);
}
.nav-close {
  position: relative;
  left: 250px;
  width: 7%;
  height: 7%;
}

.btn {
  background-color: var(--background-main);
  width: 250px;
  cursor: pointer;
  color: white;
}

.btn__arrow {
  animation: horizontal-shaking 0.5s infinite;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}

.heading {
  @apply text-primaryText text-6xl sm:font-extrabold capitalize text-center max-w-max filter drop-shadow-lg
}

.paragraph {
  @apply text-center w-full text-primaryText text-3xl 
}

.card {
  transition: transform .2s
}

.card:hover {
  transform: scale(1);
}

.line {
  color:white;
  border: 1px solid white;
  width: 80vw;
  position: relative;
  top: 43px;
  margin-left: 20px;
}